<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Vettvangur" value="https://ci.appveyor.com/nuget/vettvangur" />
  </packageSources>
  <packageSourceCredentials>
    <Vettvangur>
      <add key="Username" value="vettvangur@vettvangur.is" />
      <add key="ClearTextPassword" value="Samsung87" />
    </Vettvangur>
  </packageSourceCredentials>
</configuration>
